/*CSS RESET*/
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

main {
    max-height: 100%;
    max-width: 100%;
    background-image: url("../img/ciberseguridad2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#cuadro_central {
    background-color: rgba(100,100,100,0.9);
    border-radius: 10px;
    color: white;
    border: solid white 1px;
    height: 25vh;
    width: 50vw;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

